<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, 'error') %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>

  Repeat:
  <%= radio_button_tag :status, 'daily' %>
  <%= label_tag :status_late, 'Daily' %>
  <%= radio_button_tag :status, 'weekly' %>
  <%= label_tag :status_late, 'Weekly' %>
  <%= radio_button_tag :status, 'monthly' %>
  <%= label_tag :status_late, 'Monthly' %>
  <%= radio_button_tag :status, 'yearly' %>
  <%= label_tag :status_absent, 'Yearly' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
